.public-page {
  background-color: white;
  background-image: url('../images/landing-bg.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 3.5rem);
}
