h1 Welcome to Home Page
= link_to 'Log in as patient', new_patient_session_path, class: 'btn btn-lg mr-3 btn-dark'
= link_to 'Log in as physician', new_physician_session_path, class: 'btn btn-lg ml-3 btn-dark'
