@import './colors';
@import './variables';

body {
  background-color: $alabaster;
}

.logo {
  text-align: center;
  margin: 0 auto;
  padding: 32px 0 24px;
}

.header {
  @include headings() {
    text-align: center;
    margin: 0 auto 1rem;
  }
}

.form {
  margin: 1rem auto 0;
  padding: 1.25rem;
  background-color: white;
  border-radius: .25rem;
  border: 1px solid $geyser;
  max-width: 308px;
}
